{% extends "base.html" %}


{% block content %}

<header class="hero">
    <div class="hero-content">
        <h1>Welcome to the E-Learning Management System</h1>
        <p>Your learning journey starts here. Choose your role to get started.</p>
        
        <a href="{{ url_for('login', message='admin') }}" class="cta-button admin-btn">Login as Admin</a>
        <a href="{{ url_for('login', message='instructor') }}" class="cta-button instructor-btn">Login as Instructor</a>
        <a href="{{ url_for('login', message='student') }}" class="cta-button student-btn">Login as Student</a>
    </div>
</header>

<footer class="footer">
    <p>&copy; 2024 E-Learning Management System</p>
</footer>
{% endblock %}