<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="../css/styles_admin_login.css">
</head>
<body>
    <header>
        <h1>Student Login</h1>
    </header>

    <div class="login-container">
        <form action="/student-login" method="POST">
            <div class="form-group">
                <label for="student-email">Email</label>
                <input type="email" id="student-email" name="email" required>
            </div>
            <div class="form-group">
                <label for="student-password">Password</label>
                <input type="password" id="student-password" name="password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</body>
</html>
