<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Instructors</title>
    <link rel="stylesheet" href="../static/css/styles_view_instructors.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h1>View Instructors</h1>
        </div>
    </header>
    <div class="container">
        <section class="table-section">
            <h2>Instructors List</h2>
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instructor in instructors %}
                    <tr>
                        <td>{{ instructor.first_name }}</td>
                        <td>{{ instructor.last_name }}</td>
                        <td>{{ instructor.email }}</td>
                        <td>{{ instructor.phone_number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>
