<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Sections</title>
    <link rel="stylesheet" href="../css/styles_view_sections.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h1>View Sections</h1>
        </div>
    </header>
    <div class="container">
        <section class="section-table">
            <h2>Available Sections</h2>
            <table>
                <thead>
                    <tr>
                        <th>Section ID</th>
                        <th>Course ID</th>
                        <th>Instructor Name</th>
                        <th>Enrollment Start Date</th>
                        <th>Enrollment End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sec in sections %}
                    <tr>
                       <td>{{ sec.section_id }}</td>
                       <td>{{ sec.course_id }}</td>
                       <td>{{ sec.instructor_name }}</td>
                       <td>{{ sec.enrollment_start_date }}</td>
                       <td>{{ sec.enrollment_end_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>
